.youtube{aspect-ratio:16/9;-o-object-fit:cover;object-fit:cover;-o-object-position:center;object-position:center;width:100%}.blog-content{margin:0 auto;max-width:740px;padding:20px 0;width:100%}.blog-content a{color:var(--accent)}
